<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <!--配置绑定节点Start-->
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding0" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647"/>
          <security mode="None" />
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="netTcpBinding0" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647"/>
          <security mode="None" />
        </binding>
      </netTcpBinding>
      <wsHttpBinding></wsHttpBinding>
    </bindings>
    <!--配置绑定节点End-->
    
    <!--配置服务节点Start-->
    <services>
      <!--配置某一服务，在这里可以指定服务名称-->
      <service name="WcfServiceTest.WcfService">
        <endpoint address="aaa" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding0"
          name="BasicHttpBinding_WcfService" contract="WcfServiceTest.IWcfService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="netTcpBinding0"
          name="NetTcpBinding_WcfService" contract="WcfServiceTest.IWcfService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
      </service>
    </services>
    <!--配置服务节点End-->

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- 为避免泄漏元数据信息，请在部署前将以下值设置为 false -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- 要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false 以避免泄漏异常信息 -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        若要在调试过程中浏览 Web 应用程序根目录，请将下面的值设置为 True。
        在部署之前将该值设置为 False 可避免泄露 Web 应用程序文件夹信息。
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
