<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_WcfService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_WcfService">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <!--<endpoint address="http://localhost/WcfServiceTest/WcfService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_WcfService"
                contract="WcfService.IWcfService" name="BasicHttpBinding_WcfService" />-->
            <endpoint address="net.tcp://localhost/WcfServiceTest/WcfService.svc"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_WcfService"
                contract="WcfService.IWcfService" name="NetTcpBinding_WcfService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>